@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --main-font: 'Poppins', sans-serif;
  --tip-background: #5ec9ff;
  --tip-font-color: #fff;
  --btn-font-color: #fff;
}

.slide {
  position: relative;
  width: 1024px;
  height: 768px;
  background-size: contain;
  background-position: center;
  font-family: var(--main-font);
}

.restart-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--main-font);
}

.btn {
  position: absolute;
  width: 150px;
  height: 60px;
  background: transparent;
  border: 2px solid var(--btn-font-color); 
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 20px 10px rgba(95, 102, 255);
  animation: pulse-shadow 1s infinite;
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 20px 5px rgba(95, 102, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 30px 15px rgba(95, 102, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(95, 102, 255, 0.7);
  }
}

/***************** BUTTON POSITIONING *********************/
.btn1 { top: 523px; left: 205px; }
.btn2 { top: 128px; left: 438px; }
.btn3 { top: 125px; left: 439px; }
.btn4 { top: 500px; left: 438px; }
.btn6 { top: 539px; left: 823px; }
.btn7 { top: 600px; left: 437px; }
.btn8 { top: 607px; left: 428px; }
.btn9 { top: 582px; left: 222px; }
.btn10 { top: 156px; left: 525px; }
.btn12 { top: 497px; left: 442px; }
.btn13 { top: 453px; left: 324px;}
.btn15 { top: 505px; left: 435px;}
.btn16 { top: 437px; left: 435px;}
.btn17 { top: 603px; left: 743px;}
.btn18 { top: 410px; left: 288px; width: 450px;}
.btn20 { top: 541px; left: 664px;}
.btn25 { top: 578px; left: 569px;}
.btn26 { top: 260px; left: 675px;}
.btn27 { top: 683px; left: 438px;}
.btn28 { top: 383px; left: 240px; width: 550px; height: 150px;}
.btn29 { top: 380px; left: 438px;}
.btn31 { top: 520px; left: 438px;}
.btn33 { top: 442px; left: 588px; width: 350px;}
.btn34 { top: 570px; left: 640px; width: 360px; height: 200px;}
.btn35 {top: 594px; left: 612px; width: 255px;}


/***************** TIP STYLES *********************/
.tip {
  position: relative;
  padding: 20px;
  background-color: var(--tip-background);
  border: 2px solid #333333;
  border-radius: 10px;
  width: fit-content;
  max-width: 40%;
  max-height: 80px;
  font-family: var(--main-font); 
  font-size: 24px;
  color: var(--tip-font-color);
  box-shadow: 4px 4px 0px #5744ff; 
}

.tip::before, .tip::after {
  content: "";
  position: absolute;
  border-width: 20px;
  border-style: solid;
}

.tip::before {
  border-color: var(--tip-background) transparent transparent transparent; 
  z-index: 1;
}

.tip::after {
  border-color: #5744ff transparent transparent transparent; 
  z-index: 0;
}

.tip1 { top: 200px; left: 220px; }
.tip2 { top: 250px; left: 450px; }
.tip3 { top: 250px; left: 400px; }
.tip4 { top: 50px; left: 400px; }
.tip6 { top: 250px; left: 522px; }
.tip7 { top: 600px; left: 0px;  max-width: 35%; }
.tip8 { top: 375px; left: 125px; }
.tip9 { top: 375px; left: 250px; }
.tip10 { top: 257px; left: 561px; }
.tip12 { top: 173px; left: 461px; }
.tip13 { top: 173px; left: 461px; }
.tip15 { top: 173px; left: 461px; }
.tip16 { top: 530px; left: 461px; }
.tip17 { top: 432px; left: 461px; }
.tip18 {top: 503px; left: 341px; }
.tip20 {top: 335px; left: 341px; max-height: 110px;}
.tip25 {top: 25px; left: 341px; max-height: 210px;}
.tip26 {top: 25px; left: 341px; max-height: 210px;}
.tip27 {top: 200px; left: 544px; max-height: 210px;}
.tip28 {top: 138px; left: 344px; max-height: 210px;}
.tip29 {top: 138px; left: 344px; max-height: 210px;}
.tip31 {top: 10px; left: 344px; max-height: 210px;}
.tip33 {top: 103px; left: 341px; }
.tip34 {top: 580px; left: 100px; max-height: 210px;}
.tip35 {top: 10px; left: 300px; max-height: 210px;}


.tip1::before { bottom: -39px; left: 20px; }
.tip1::after { bottom: -43px; left: 18px; }

.tip2::before { top: -39px; left: 20px; transform: rotate(180deg); }
.tip2::after { top: -40px; left: 18px; transform: rotate(180deg); }

.tip3::before { top: -39px; left: 20px; transform: rotate(180deg); }
.tip3::after { top: -40px; left: 18px; transform: rotate(180deg); }

.tip4::before { top: 107px; left: 20px; }
.tip4::after { top: 112px; left: 18px; }

.tip6::before { top: 96px; left: 330px; }
.tip6::after { top: 100px; left: 330px; }

.tip7::before { top: 12px; left: 398px; transform: rotate(-90deg);}
.tip7::after { top: 12px; left: 403px; transform: rotate(-90deg);}

.tip8::before { top: 117px; left: 365px; }
.tip8::after { top: 124px; left: 365px; }

.tip9::before { bottom: -38px; left: 20px; }
.tip9::after { bottom: -43px; left: 18px; }

.tip10::before { top: -38px; left: 20px; transform: rotate(180deg); }
.tip10::after { top: -39px; left: 18px; transform: rotate(180deg); }

.tip12::before { bottom: -38px; left: 20px; }
.tip12::after { bottom: -43px; left: 18px; }

.tip13::before { bottom: -38px; left: 20px; }
.tip13::after { bottom: -43px; left: 18px; }

.tip15::before { top: -38px; left: 20px; transform: rotate(180deg); }
.tip15::after { top: -38px; left: 18px; transform: rotate(180deg); }

.tip16::before { top: -38px; left: 20px; transform: rotate(180deg); }
.tip16::after { top: -38px; left: 18px; transform: rotate(180deg); }

.tip17::before { top: 96px; left: 330px; }
.tip17::after { top: 100px; left: 330px; }

.tip18::before { top: -39px; left: 20px; transform: rotate(180deg); }
.tip18::after { top: -40px; left: 18px; transform: rotate(180deg); }

.tip20::before { top: 150px; left: 371px; }
.tip20::after { top: 154px; left: 371px; }

.tip25::before { top: 241px; left: 371px; }
.tip25::after { top: 245px; left: 371px; }

.tip26::before { top: 183px; left: 371px; }
.tip26::after { top: 187px; left: 371px; }

.tip27::before { top: 12px; left: -39px; transform: rotate(90deg);}
.tip27::after { top: 12px; left: -40px; transform: rotate(90deg);}

.tip28::before { top: 125px; left: 371px; }
.tip28::after { top: 128px; left: 371px; }

.tip29::before { top: 125px; left: 371px; }
.tip29::after { top: 128px; left: 371px; }

.tip31::before { top: 97px; left: 371px; }
.tip31::after { top: 99px; left: 371px; }

.tip33::before { top: 68px; left: 196px; }
.tip33::after { top: 69px; left: 196px; }

.tip34::before { top: 20px; left: 449px; transform: rotate(-90deg);}
.tip34::after { top: 20px; left: 451px; transform: rotate(-90deg);}

.tip35::before { top: 97px; left: 196px; }
.tip35::after { top: 99px; left: 196px; }